<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Promethee-II</title>
</head>
<body>
 <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Promethee-II</h1>
                <div class="col-lg-8 offset-lg-2">
                    <form method=post action="run">
                        <div class="form-group">
                            <label for="alternatives">Set number of alternatives</label>
                            <input name="alternatives" type="number" id="alternatives" value="50"/>
                            <label for="random">Random?</label>
                            <input name="random" type="checkbox" id="random"/>
                        </div>
                        <div class="form-group">
                            <label for="seed">Set seed</label>
                            <input name="seed" type="number" id="seed" value="123"/>
                        </div>
                        <div class="form-group">
                            {% for n in range(86) %}
                                <div style="display: inline-block; font-size: 9px;">
                                <label for="crit-{{ n }}">Criterium {{ n }} weight</label>
                                <input name="crit-{{ n }}" type="number" id="crit-{{ n }}" value="0" style="width: 41px"/>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>

 <script>
     var vals = ["#crit-1", "#crit-18", "#crit-31", "#crit-32", "#crit-38", "#crit-39", "#crit-40", "#crit-42", "#crit-67"];
     for (i=0; i<vals.length; i++){
         $(vals[i]).val("1");
     }
 </script>
    <!-- /.container -->
</body>
</html>