<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Promethee-II</title>
</head>
<body>
 <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Promethee-II</h1>
                <div class="col-lg-8 offset-lg-2">
                    <form method=post action="run">
                        <div class="form-group">
                            <label for="alternatives">Set number of alternatives</label>
                            <input name="alternatives" type="number" id="alternatives" value="16"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>

 <script>
     var vals = ["#crit-0", "#crit-1", "#crit-2", "#crit-3", "#crit-4", "#crit-5", "#crit-6", "#crit-7", "#crit-8", "#crit-9", "#crit-10", "#crit-11", "#crit-12", "#crit-13", "#crit-14", 
     "#crit-15", "#crit-16", "#crit-17", "#crit-18", "#crit-19", "#crit-20", "#crit-21", "#crit-22", "#crit-23", "#crit-24", "#crit-25", "#crit-26"];
     for (i=0; i<vals.length; i++){
         $(vals[i]).val("1");
     }
 </script>
    <!-- /.container -->
</body>
</html>